body {
    background-color: black;
    color: white;
    font-size: 20px;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid white;
    margin-top: 50px;
}